<div class="row">
  <div class="col-xl-4 col-md-4">
    <!-- Card 1 - Método de Pagamento -->
    <app-card cardTitle="Método de Pagamento">
      <div class="d-flex justify-content-between" >
        <select id="metodoPagamento" [(ngModel)]="metodoPagamento" class="form-control">
          <option value="" disabled selected>Selecione um método de pagamento</option>
          <option value="cartao">Cartão de Crédito</option>
          <option value="dinheiro">Dinheiro</option>
          <option value="pix">PIX</option>
        </select>
      </div>
    </app-card>
  </div>

  <div class="col-xl-4 col-md-4">
    <!-- Card 2 - Valor pago | Entender porque o valor pago não está sendo passado no placeholder certo-->
    <app-card cardTitle="Valor Pago">
      <div class="d-flex justify-content-between">
        <input 
          type="number" 
          id="valorPago" 
          [(ngModel)]="valorPago" 
          class="form-control" 
          [placeholder]="valorPago"  
          min="0"
        />
      </div>
    </app-card>
  </div>
  

  <div class="col-xl-4 col-md-4">
    <!-- Card 3 - Método de Pagamento -->
    <app-card cardTitle="Total da Compra"  >
      <div class="d-flex justify-content-between" >
        <h3><strong>Total:</strong></h3>
        <h3><strong>{{ calcularTotal() | currency: 'BRL' }}</strong></h3>
      </div>
    </app-card>
  </div>



  <!-- Card 4 - Lista de Produtos (Ocupa 3/4 da tela) -->
  <div class="col-xl-8 col-md-8">
    <app-card cardTitle="Lista de Produtos">
      <!-- Barra de Busca -->
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="filtro" (input)="atualizarFiltro()" placeholder="Buscar produto por Codigo ou Nome do produto" class="form-control" />
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <!-- Tabela de Produtos -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Cod.Produto</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtosFiltrados | slice:0:5">
            <td>{{ produto.id_produto }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.quantidade_estoque }}</td>
            <td>{{ produto.preco | currency: 'BRL' }}</td>
            <td>
              <button class="btn btn-sm btn-success" (click)="adicionarAoCarrinho(produto)">
                <i class="fas fa-cart-plus"></i> Adicionar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </app-card>
  </div>

  <!-- Coluna de 1/4 da tela com Método de Pagamento e Carrinho de Compras -->
  <div class="col-xl-4 col-md-4">
   

    <!-- Card 5 - Carrinho de Compras (Ajustado com min-height) -->
    <app-card cardTitle="Carrinho de Compras" style="min-height: 450px; padding-bottom: 1rem;">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of carrinho">
          <div>
            <strong>{{ item.produto.nome }}</strong>
            <div class="text-muted">{{ item.produto.preco | currency: 'BRL' }}</div>
          </div>
          <div class="d-flex align-items-center">
            <button class="btn btn-sm btn-outline-secondary me-2" (click)="decrementarQuantidade(item.produto.id_produto)">
              <i class="fas fa-minus"></i>
            </button>
            <span class="px-2">{{ item.quantidade }}</span>
            <button class="btn btn-sm btn-outline-secondary ms-2 me-3" (click)="incrementarQuantidade(item.produto.id_produto)">
              <i class="fas fa-plus"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="removerDoCarrinho(item.produto.id_produto)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </li>
      </ul>


      <div class="d-flex justify-content-between">
        <button class="btn btn-success btn-block mt-3" (click)="finalizarCompra()">Finalizar Compra</button>
        <button class="btn btn-danger btn-block mt-3" (click)="limparCarrinho()">Cancelar Compra</button>
      </div>
    </app-card>
  </div>

</div>
