<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Mesas" [options]="false" [buttonh]="true" buttonTitle="Adicionar mesa" [buttonAction]="toggleFormulario.bind(this)">
      <div class="row">
        <div *ngFor="let mesa of mesasPaginadas" class="col-md-4 mb-4">
          <div class="card mesa-card" >
            <button class="btn btn-danger btn-cancelar" (click)="excluirMesa(mesa.id_mesa)">❌</button>
            <div class="card-body">
              <h5 class="card-title mesa-title">Mesa {{ mesa.numero }}</h5>
              <!-- <p class="card-text mesa-status"><strong>Status:</strong> {{ mesa.status }}</p> -->
              <p class="card-text mesa-capacidade"><strong>Clientes:</strong> {{ mesa.capacidade }} pessoas</p>
              <p class="card-text mesa-status"><strong>Consumo total:</strong> {{ mesa.totalConsumo | currency: 'BRL' }}</p>

              <div class="d-flex justify-content-between">
                <!-- <button class="btn btn-danger btn-lg" (click)="excluirMesa(mesa.id_mesa)">Excluir</button> -->
                <button class="btn btn-primary btn-lg" (click)="abrirModalAdicionarPedido(mesa)">Adicionar Pedido</button>
                <button class="btn btn-info btn-lg" (click)="abrirModalDetalhes(mesa)">Ver Detalhes</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>

<!-- Formulário para Adicionar Mesa -->
<div *ngIf="mostrarFormulario">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Adicionar Mesa</h5>

      <form (ngSubmit)="adicionarMesa()">
        <div class="form-group">
          <label for="numero">Número</label>
          <input id="numero" type="number" [(ngModel)]="novaMesa.numero" name="numero" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="capacidade">Capacidade</label>
          <input id="capacidade" type="number" [(ngModel)]="novaMesa.capacidade" name="capacidade" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="status">Status</label>
          <select id="status" [(ngModel)]="novaMesa.status" name="status" class="form-control" required>
            <option value="Solicitado">Solicitado</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Concluído">Concluído</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!novaMesa.numero || !novaMesa.capacidade">Salvar Mesa</button>
        <button type="button" class="btn btn-secondary" (click)="toggleFormulario()">Cancelar</button>
      </form>
    </div>
  </div>
</div>

<!-- Modal de Adicionar Pedido -->
<div class="modal fade show d-block" *ngIf="mostrarModal">
  <div class="modal-dialog modal-lg"> <!-- Alterei para modal-lg -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar Pedido - Mesa {{ mesaSelecionada?.numero }}</h5>
      </div>

      <div class="modal-body">
        <div class="row">
          <!-- Lista de Produtos -->
          <div class="col-md-6">
            <h6>Lista de Produtos</h6>
            <input type="text" [(ngModel)]="filtroProduto" class="form-control mb-2" placeholder="Pesquisar produto...">

            <ul class="list-group">
              <li *ngFor="let produto of produtosFiltrados" class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ produto.nome }} - {{ produto.preco | currency }}</span>
                <button class="btn btn-success btn-sm" (click)="adicionarProdutoAPedido(produto)">
                  <i class="fas fa-plus"></i> Adicionar
                </button>
              </li>
            </ul>
          </div>

          <!-- Lista de Produtos Adicionados -->
          <div class="col-md-6">
            <h6>Pedido Atual</h6>
            <div *ngIf="mesaSelecionada?.pedidos && mesaSelecionada.pedidos.length > 0">
              <ul class="list-group">
                <li *ngFor="let pedido of mesaSelecionada.pedidos; let i = index" 
                    class="list-group-item d-flex justify-content-between align-items-center">
                  <span>{{ pedido.nome }} - {{ pedido.preco | currency }}</span>
                  
                  <!-- Contador de Quantidade -->
                  <div class="d-flex align-items-center">
                    <button class="btn btn-sm btn-outline-secondary me-2" (click)="decrementarQuantidade(pedido.id_produto)">
                      <i class="fas fa-minus"></i>
                    </button>
                    <span class="px-2">{{ pedido.quantidade }}</span>
                    <button class="btn btn-sm btn-outline-secondary ms-2 me-3" (click)="incrementarQuantidade(pedido.id_produto)">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>

                  <button class="btn btn-danger btn-sm" (click)="removerProdutoDoPedido(i)">
                    <i class="fas fa-trash"></i> Remover
                  </button>
                </li>
              </ul>
            </div>
            <div *ngIf="!mesaSelecionada?.pedidos || mesaSelecionada.pedidos.length === 0" class="text-center">
              <p class="text-muted">Nenhum produto adicionado ao pedido.</p>
            </div>

             <!-- Campo de Observação -->
              <div class="mt-4">
                <label for="observacao" class="form-label">Observação</label>
                <textarea id="observacao" [(ngModel)]="observacao" class="form-control" rows="3" placeholder="Digite uma observação..."></textarea>
              </div>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <!-- <span>Total: R$ {{ calcularTotalPedido() | currency }}</span> -->

        <h3><strong>Total:</strong></h3>
        <h3><strong>{{ calcularTotalPedido() | currency: 'BRL' }}</strong></h3>
        
        <button class="btn btn-primary" (click)="finalizarPedido()">Solicitar Pedido</button>
        <button class="btn btn-secondary" (click)="fecharModal()">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Fundo escuro do modal -->
<div class="modal-backdrop fade show" *ngIf="mostrarModal"></div>

<!-- Modal de Detalhes da Mesa -->
<div class="modal fade show d-block" *ngIf="mostrarModalDetalhes">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes da Mesa {{ mesaSelecionada?.numero }}</h5>
      </div>

      <div class="modal-body">
        <!-- Exibição dos Pedidos -->
        <div *ngIf="mesaSelecionada?.pedidos && mesaSelecionada.pedidos.length > 0">
          <h6>Histórico de Pedidos</h6>
          <div *ngFor="let pedido of mesaSelecionada.pedidos">
            <div class="card mb-3">
              <div class="card-body">
                <h6><strong>Data:</strong> {{ pedido.data | date: 'dd/MM/yyyy HH:mm' }}</h6>
                <h6><strong>Status:</strong> {{ pedido.status }}</h6>
                <h6><strong>Total:</strong> R$ {{ pedido.total | currency: 'BRL' }}</h6>

                <!-- Exibir os itens do pedido -->
                <h6>Itens do Pedido</h6>
                <ul class="list-group" *ngIf="pedido.itens?.length > 0">
                  <li *ngFor="let item of pedido.itens" class="list-group-item">
                    {{ item.nome }} - {{ item.preco | currency: 'BRL' }} - Quantidade: {{ item.quantidade }}
                  </li>
                </ul>

                <!-- Caso não tenha itens no pedido -->
                <div *ngIf="!pedido.itens || pedido.itens.length === 0" class="text-muted">
                  Nenhum item no pedido.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Caso não tenha pedidos -->
        <div *ngIf="!mesaSelecionada?.pedidos || mesaSelecionada.pedidos.length === 0" class="text-center">
          <p class="text-muted">Nenhum pedido registrado para esta mesa.</p>
        </div>
      </div>

      <div class="modal-footer" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <h6 style="font-size: 1.5rem; margin-right: auto;"><strong>Total da Mesa:</strong> R$ {{ mesaSelecionada?.totalConsumo | currency: 'BRL' }}</h6>
        <div style="display: flex; gap: 10px;">
          <button class="btn btn-primary" (click)="fecharModals()">Finalizar Mesa</button>
          <button class="btn btn-success" (click)="imprimirHistoricoMesa()">Imprimir historico</button>
          <button class="btn btn-secondary" (click)="fecharModals()">Fechar</button>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Fundo escuro do modal -->
<div class="modal-backdrop fade show" *ngIf="mostrarModalDetalhes"></div>

<!-- Paginação original -->
<nav aria-label="Page navigation" class="mt-3">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
      <span class="page-link">Anterior</span>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage" (click)="changePage(page)">
      <span class="page-link">{{ page }}</span>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
      <span class="page-link">Próximo</span>
    </li>
  </ul>
</nav>
